.github-logo-container{
    left: 101.6%;
}

.btn-item{
    margin-left: 300px;
}

.item-content{
    margin-left: 340px;
}

.first-frame{
    position: absolute;
    width: 1050px;
    height: 2100px;
    left: 250px;
    z-index: 1;
    background-color: rgba(78, 78, 78, 0.144);
    border-radius: 40px;
    box-shadow: rgb(238, 214, 2) 0px 20px 30px -10px;
}

.main-learning-container .learning--main-text-container{
    margin-top: 80px;
}

.learning-image{
    position: absolute;
    height: 200px;
    width: 420px;
    top: -35px;
    left: 405px;
    background-image: url("../assets/icons/undraw_moonlight_5ksn.svg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-bottom: 3px solid rgb(238, 214, 2);
}