                         /* initial styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(68, 67, 67));
}

/* .btn-container{
    width: 80px;
    height: 60px;
    background-color: red;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 15px;
} */


                         /* MAIN MENU STYLES */


.btn-item{
    width: 40px;
    height: 33px;
    background-image: url("../assets/icons/white-menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: .45s ease;
}

.btn-item.active{
    transform: rotate(90deg);
    transform-origin: center;
}

.item-content{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 5px;
    margin-left: 60px;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    max-height: 0px;
    /* background-color: red; */
    opacity: 0;
    transition: 0.4s ease;
}

.item-content a:hover{
    color: #E0B400;
    font-size: 2.4;
    transition: 0.4s ease;
}

.item-content a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.active ~ .item-content{
    max-height: 1000px;
    padding: 10px;
    opacity: 1;
}


                         /* MAIN CONTAINER STYLES */


.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


                         /* LANDING SECTION STYLES */


.landing-main-container{
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
}

.landing-main-container .title-container{
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Noto Sans Display', sans-serif;
    color: #E0B400;
}

.landing-main-container .main-text-container{
    width: 70%;
    margin: 0 auto;
    font-size: 2.2rem;
    line-height: 3.0rem;
    color: hsla(0, 0%, 100%, 0.85);
    text-align: center;
}

.landing-main-container .main-text-container strong{
    color: #E0B400;
}

.landing-main-container .logo-container{
    width: 150px;
    height: 150px;
    background-image: url("../assets/images/generic-logo.jpg");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    /* border: 1px solid hsl(0, 0%, 95%); */
}


.landing-main-container .button-container{
    width: 225px;
    height: 50px;
    margin: 0 auto;
    text-align: start;
    background-color: #E0B400;
    padding-top: 12px;
    padding-left: 15px;
    font-size: 1.8rem;
    /* font-weight: 600; */
    border-radius: 20px;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

.landing-main-container .button-container .button-logo--container{
    position: absolute;
    /* margin-left: 3px; */
    margin-top: -3px;
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-main-container .button-container a{
    text-decoration: none;
    color: hsl(0, 0%, 95%);
}


                          /* ABOUT SECTION STYLES */


.about-main-container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.about-main-container .about--main-text-container{
    width: 100%;
    text-align: start;
    color: hsl(0, 0%, 95%);
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.about-main-container .about--main-text-container strong{
   
    color: #E0B400;

}

.about-main-container .about--quote-text-container{
    text-align: center;
    color: #E0B400;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.about-main-container .about--quote-text-container .about--quote-text-container__author{
    margin-top: 15px;
    text-align: end;
}

.about-main-container .about--quote-button-container{
    width: 200px;
    height: 40px;
    background-color: #E0B400;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid white;
    transition: .45s;   
}

/* .about-main-container .about--quote-button-container:hover{
    transform: scale(1.1);
    transform-origin: center;
} */

.about-main-container .about--quote-button-container p{
        text-align: center;
        margin-top: 8px;
        color: hsl(0, 0%, 95%);
        font-size: 1.6rem;
}


                         /* LEARNING SECTION STYLES */


.main-learning-container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.main-learning-container .learning--main-text-container{
    width: 100%;
    height: 310px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: hsl(0, 0%, 95%);
    text-align: start;
}

.main-learning-container .learning--main-text-container strong{
    color: #E0B400;
}

.main-learning-container .learning--main-diploma-container{
    width: 100%;
}

.learning--main-diploma-container .learning--main-diploma-container__btn{
    width: 250px;
    height: 70px;
    margin: 0 auto;
    background-color: #E0B400;
    border-radius: 15px;
    border: 2px solid hsl(0, 0%, 95%);
}

.learning--main-diploma-container__btn p{
    font-size: 1.8rem;
    padding-top: 8px;
    color: hsl(0, 0%, 95%);
    text-align: center;
}

.learning--main-diploma-container__btn .learning-main-diploma-container__arrowicon{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 97px;
    margin-top: -3px;
    background-image: url("../assets/icons/arrow-down.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: .45s ease;
}


.active > .learning-main-diploma-container__arrowicon{
    transform: rotate(180deg);
    transform-origin: center;
}


.learning--diplomas-container{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.learning--diplomas-container .diploma{
    width: 90px;
    height: 90px;
    background-color: blue;
}

                          /* DIPLOMAS HIDDEN SECTION STYLES */


             /* DEVELOPMENT DIPLOMAS */

.main-diplomas-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: 0.4s ease;
}

.active ~ .main-diplomas-container{
    max-height: 1000px;
    padding: 10px;
    opacity: 1;
}

.main-diplomas-container .dev-diplomas-carousel{
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    position: relative;
    display: flex;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /* border-top: 2px solid hsla(0, 0%, 100%, 0.85);
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.85); */
}


.dev-diplomas-carousel__text{
    /* margin-top: 20px; */
    width: 220px;
    height: 40px;
    background-color: #E0B400;
    color: hsl(0, 0%, 95%);
    font-size: 1.6rem;
    padding-top: 8px;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    border: 2px solid white;
}

.dev-diplomas-container{
    margin: 22px 0px;
    white-space: nowrap;
}

.dev-diplomas-item{
    width: 210px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: .45s;
    transform-origin: center left;
    position: relative;
    scroll-snap-align: center;
}

.dev-diploma-img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.dev-diploma-item__detail{
    background: linear-gradient(to top, rgba(0,0,0,0.9)0%, rgba(0,0,0,0)100%);
    font-size: 1.5rem;
    opacity: 1;
    transition: .45s;
    position: absolute;
    color: #E0B400;
    margin-top: -25px;
    margin-left: 5px;
}

.dev-diplomas-item:hover ~ .dev-diplomas-item{
    transform: translate3d(40px,0,0);
}

.dev-diplomas-container:hover .dev-diplomas-item{
    opacity: 0.3;
}

.dev-diplomas-container:hover .dev-diplomas-item:hover{
    transform: scale(1.2);
    opacity: 1;
}


          /* OTHER CATEGORY DIPLOMAS */


.main-diplomas-container .othery-category-diploma-carousel{
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    position: relative;
    display: flex;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /* border-top: 2px solid hsla(0, 0%, 100%, 0.85);
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.85); */
}

::-webkit-scrollbar {
    display: none;
}

.other-category-carousel__text{
    /* margin-top: 15px; */
    width: 220px;
    height: 40px;
    background-color: #E0B400;
    color: hsl(0, 0%, 95%);
    font-size: 1.6rem;
    padding-top: 8px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid white;
    align-self: center;
}

.main-diplomas-container .other-category-container{
    margin: 22px 0px;
    white-space: nowrap;
}

.other-category-item{
    width: 210px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: .45s;
    transform-origin: center left;
    position: relative;
    scroll-snap-align: center;
}

.other-category-diploma__img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.other-category-diploma-item__detail{
    background: linear-gradient(to top, rgba(0,0,0,0.9)0%, rgba(0,0,0,0)100%);
    font-size: 1.5rem;
    opacity: 1;
    transition: .45s;
    position: absolute;
    color: #E0B400;
    margin-top: -25px;
    margin-left: 5px;
}

.other-category-item:hover ~ .other-category-item{
    transform: translate3d(40px,0,0);
}

.other-category-container:hover .other-category-item{
    opacity: 0.3;
}

.other-category-container:hover .other-category-item:hover{
    transform: scale(1.2);
    opacity: 1;
}

.prueba{
    height: 100vh;
    width: 100%;
    background-color: red;
}