                         /* initial styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-golden: #E0B400;
    --main-yellow: #E4FF1A;
    /* --main-white: hsl(0, 0%, 95%); */
    --main-white: white;
}

html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(100deg, rgb(34, 33, 33), rgb(0, 0, 0))
}

/* body{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(68, 67, 67)); 
    background: rgb(34, 32, 32);
    z-index: 2;  
} 

    body::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../assets/images/bgp1");
    z-index: 1;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.04;
} */

::-webkit-scrollbar {
    display: none;
}

                        /* GITHUB LOGO STYLES */

.github-logo-container{
    position: absolute;
    background-color: var(--main-white);
    border-bottom-left-radius: 8px;
    width: 0px;
    height: 50px;
    /* margin-left: 398.5px; */
    left: 106.2%;
    margin-top: -20px;
    transition: 2s ease;
    transition-delay: 4s;
}

.github-logo-container.active{
    width: 55px;
    transform: translate3d(-78px,0,0);
    transform-origin: center;
}

.github-logo-container img{
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

                         /* MAIN MENU STYLES */


.btn-item{
    width: 40px;
    height: 33px;
    background-image: url("../assets/icons/white-menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: .8s ease;
}


.btn-item.active{
    transform: rotate(360deg);
    transform-origin: center;
}

.item-content{
    font-size: 2rem;
    line-height: 2rem;
    width: 250px;
    /* margin-top: 5px; */
    margin-left: 60px;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    max-height: 0px;
    background-color: rgba(24, 22, 22, 0.678);
    opacity: 0;
    transition: .5s ease;
    border-bottom: 3px solid var(--main-golden);
}

#first-item-content{
    margin-top: 5px;
    border-top-right-radius: 20px;
}

#last-item-content{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.active ~ .item-content{
    max-height: 1000px;
    padding: 10px;
    padding-left: 20px;
    opacity: 1;
}

.item-content a{
    color: var(--main-white);
    text-decoration: none;
    font-weight: 400;
}

.item-content a:hover{
    color: var(--main-golden);
    font-size: 2.4;
    transition: 0.4s ease;
}


                         /* MAIN CONTAINER STYLES */


/* .main-container{
 display: flex;
    flex-direction: column;
    justify-content: space-around;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh; 
 }  */

                         /* LANDING SECTION STYLES */


.landing-main-container{
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
}

.landing-main-container .title-container{
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Noto Sans Display', sans-serif;
    color: var(--main-white);
    transition: 4s ease;
    transition-delay: 2s;
    margin-left: 100px;
}

.landing-main-container .title-container.active{
    transform: rotate(-10800deg);
    transform-origin: center;
}


.strong-div-title{
    position: absolute;
    margin-top: -417px;
    margin-left: -80px;
    color: var(--main-golden);
    font-size: 7rem;
    font-weight: 700;
    transition: 5s ease;
    transition-delay: 1s;
}

.strong-div-title.active{
    transform: rotate(1800deg);
    transform-origin: center;
}

.landing-main-container .main-text-container{
    width: 70%;
    height: 0px;
    margin: 0 auto;
    font-size: 2.2rem;
    line-height: 3.0rem;
    color: var(--main-white);
    text-align: center;
    opacity: 0;
    transform-origin: center;
    transition: 3s ease;
    transition-delay: 3s;
    border-radius: 10px;
}

.main-text-container.active{
    height: 130px;
    border: 1px solid var(--main-golden);
    opacity: 1;
    padding-bottom: 10px;
    background-color: #ffcc0017;
}

#landing-strong-text{
    color: var(--main-white);
    transition: 1s ease;
    transition-delay: 7s;
}

#landing-strong-text.active{
    color: var(--main-golden);
    text-decoration: underline;
}

.landing-main-container .logo-container{
    width: 150px;
    height: 150px;
    background-image: url("../assets/images/generic-logo.jpg");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    opacity: 0;
    /* border: 1px solid hsl(0, 0%, 95%); */
    transition: 3s ease;
    transition-delay: 4s;
}

.logo-container.active{
    opacity: 1;
}


.landing-main-container .button-container{
    width: 225px;
    height: 50px;
    margin: 0 auto;
    text-align: start;
    background-color: var(--main-golden);
    padding-top: 12px;
    padding-left: 15px;
    font-size: 1.8rem;
    /* font-weight: 600; */
    border-radius: 20px;
    border: 2px solid var(--main-white);
    cursor: pointer;
    opacity: 0;
    transition: 2s ease;
    transition-delay: 5s;
}

.button-container.active{
    opacity: 1;
}

.landing-main-container .button-container .button-logo--container{
    position: absolute;
    /* margin-left: 3px; */
    margin-top: -3px;
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-main-container .button-container a{
    text-decoration: none;
    color: var(--main-white);
}


                          /* ABOUT SECTION STYLES */


.about-main-container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.about-main-container .about--main-text-container{
    width: 100%;
    text-align: start;
    color: var(--main-white);
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--main-golden);
}

.about-main-container .about--main-text-container strong{
   
    color: var(--main-golden);

}

.about-main-container .about--quote-text-container{
    text-align: center;
    color: var(--main-golden);
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.about-main-container .about--quote-text-container .about--quote-text-container__author{
    margin-top: 15px;
    text-align: end;
}

.about-main-container .about--quote-button-container{
    width: 200px;
    height: 40px;
    background-color: var(--main-golden);
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid var(--main-white);
    transition: .45s;   
}

/* .about-main-container .about--quote-button-container:hover{
    transform: scale(1.1);
    transform-origin: center;
} */

.about-main-container .about--quote-button-container p{
        text-align: center;
        margin-top: 8px;
        color: var(--main-white);
        font-size: 1.6rem;
}


                         /* LEARNING SECTION STYLES */


.main-learning-container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.main-learning-container .learning--main-text-container{
    width: 100%;
    height: 350px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--main-white);
    text-align: start;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--main-golden);
}

.main-learning-container .learning--main-text-container strong{
    color: var(--main-golden);
}

.main-learning-container .learning--main-diploma-container{
    width: 100%;
}

.learning--main-diploma-container .learning--main-diploma-container__btn{
    width: 250px;
    height: 70px;
    margin: 0 auto;
    background-color: var(--main-golden);
    border-radius: 15px;
    border: 2px solid var(--main-white);
}

.learning--main-diploma-container__btn p{
    font-size: 1.8rem;
    padding-top: 8px;
    color: var(--main-white);
    text-align: center;
}

.learning--main-diploma-container__btn .learning-main-diploma-container__arrowicon{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 97px;
    margin-top: -3px;
    background-image: url("../assets/icons/arrow-down.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: .8s ease;
}


.active > .learning-main-diploma-container__arrowicon{
    transform: rotate(540deg);
    transform-origin: center;
}


.learning--diplomas-container{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.learning--diplomas-container .diploma{
    width: 90px;
    height: 90px;
    background-color: blue;
}

                          /* DIPLOMAS HIDDEN SECTION STYLES */


             /* DEVELOPMENT DIPLOMAS */

.main-diplomas-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: 0.4s ease;
}

.active ~ .main-diplomas-container{
    max-height: 1000px;
    padding: 10px;
    opacity: 1;
}

.main-diplomas-container .dev-diplomas-carousel{
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    position: relative;
    display: flex;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /* border-top: 2px solid hsla(0, 0%, 100%, 0.85);
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.85); */
}


.dev-diplomas-carousel__text{
    /* margin-top: 20px; */
    width: 220px;
    height: 40px;
    background-color: var(--main-golden);
    color: var(--main-white);
    font-size: 1.6rem;
    padding-top: 8px;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    border: 2px solid var(--main-white);
}

.dev-diplomas-container{
    margin: 22px 0px;
    white-space: nowrap;
}

.dev-diplomas-item{
    width: 210px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: .45s;
    transform-origin: center left;
    position: relative;
    scroll-snap-align: center;
    margin-left: 2px;
}

.dev-diploma-img{
    width: 210px;
    height: 150px;
    object-fit: cover;
}

.dev-diploma-item__detail{
    background: hsl(31, 77%, 52%);
    font-size: 1.5rem;
    opacity: 1;
    transition: .45s;
    position: absolute;
    color: var(--main-white);
    margin-top: -36px;
    margin-left: 0px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
}

.dev-diplomas-item:hover ~ .dev-diplomas-item{
    transform: translate3d(40px,0,0);
}

.dev-diplomas-container:hover .dev-diplomas-item{
    opacity: 0.3;
}

.dev-diplomas-container:hover .dev-diplomas-item:hover{
    transform: scale(1.2);
    opacity: 1;
}


                     /* OTHER CATEGORY DIPLOMAS */


.main-diplomas-container .othery-category-diploma-carousel{
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    position: relative;
    display: flex;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /* border-top: 2px solid hsla(0, 0%, 100%, 0.85);
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.85); */
}


.other-category-carousel__text{
    /* margin-top: 15px; */
    width: 220px;
    height: 40px;
    background-color: var(--main-golden);
    color: var(--main-white);
    font-size: 1.6rem;
    padding-top: 8px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--main-white);
    align-self: center;
}

.main-diplomas-container .other-category-container{
    margin: 22px 0px;
    white-space: nowrap;
}

.other-category-item{
    width: 210px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: .45s;
    transform-origin: center left;
    position: relative;
    scroll-snap-align: center;
}

.other-category-diploma__img{
    width: 210px;
    height: 150px;
    object-fit: cover;
}

.other-category-diploma-item__detail{
    background: hsl(31, 77%, 52%);
    font-size: 1.5rem;
    opacity: 1;
    transition: .45s;
    position: absolute;
    color: var(--main-white);
    margin-top: -36px;
    margin-left: 0px;
    padding: 5px;
    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.other-category-item:hover ~ .other-category-item{
    transform: translate3d(40px,0,0);
}

.other-category-container:hover .other-category-item{
    opacity: 0.3;
}

.other-category-container:hover .other-category-item:hover{
    transform: scale(1.2);
    opacity: 1;
}


                         /* PROJECTS SLIDER CONTAINERS STYLES*/


.main-projects-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projects--main-text-container{
    width: 80%;
    height: 80px;
    color: var(--main-white);
    font-size: 2.6rem;
    text-align: center;
    margin: 30px auto 0 auto;
    border-bottom: 2px solid var(--main-golden);
}

.projects--main-text-container strong{
    color: var(--main-golden);
}

.projects--main-slider-container{
    width: 100%;
    height: 570px;
    overflow-x: scroll;
    position: relative;
    display: flex;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.projects--slider{
    margin: 50px 0px;
    white-space: nowrap;
}

.projects--slider__item-container{
    width: 280px;
    height: 460px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 8px;
    margin-left: 4px;
    display: inline-block;
    cursor: pointer;
    transition: .45s;
    transform-origin: center left;
    position: relative;
    scroll-snap-align: center;
}

.projects--slider__item-content{
    height: 320px;
    
}

.projects--slider__item-content img{
    height: 320px;
    width: 280px;
    object-fit: cover;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.projects--slider__item-text{
    height: 140px;
    /* background-color: var(--main-golden); */
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

.projects--slider__item-text .projects--slider__item-text-title{
    background-color: var(--main-golden);
    position: absolute;
    width: 160px;
    height: 30px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: -15px;
    margin-left: calc(50% - 73px);
    padding-top: 3px;
    border-radius: 8px;
    border: 2px solid black;
    color: black;
}

.projects--slider__item-text .projects--slider__item-text-text{
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 30px;
    font-weight: 400;
    color: var(--main-white);
    margin-left: 40px;
}

.projects--slider__item-text .projects--slider__item-text-text li{
    width: 200px;
    border-bottom: 1px solid var(--main-golden);
}

.projects--slider__item-container:hover ~ .projects--slider__item-container{
    transform: translate3d(35px,0,0);
}

.projects--main-slider-container:hover .projects--slider__item-container{
    opacity: 0.3;
}

.projects--main-slider-container:hover .projects--slider__item-container:hover{
    transform: scale(1.15);
    opacity: 1;
}


                          /* CONTACT SECTION STYLES */

.main-contact-container{
    border-top: 3px solid var(--main-golden);
    height: 80vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-contact-container .contact-main-text{
    width: 70vw;
    height: 130px;
    /* margin-top: 10px; */
    /* background-color: blue; */
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--main-white);
    border-bottom: 1px solid var(--main-golden);
}

.main-contact-container .contact-main-text strong{
    color: var(--main-golden);
}

.main-contact-container .form-container{
    font-size: 1.8rem;
    color: var(--main-golden);
}


.main-contact-container .form-container input{
    height: 25px;
    border-radius: 8px;
    border: none;
    margin-left: 22px;
    padding-left: 5px;
    background: var(--main-white);
}

.mgninp{
    margin-top: 20px;
}

#firminput{
    margin-left: 10px;
}

.main-contact-container .form-container input:focus{
    outline: none;
}

.main-contact-container .form-container textarea{
    border-radius: 8px;
    margin-top: 10px;
    border: none;
    padding: 5px;
    background: var(--main-white);
}

.main-contact-container .form-container textarea:focus{
    outline: none;
}

.form-button{
    background-color: var(--main-golden);
    width: 150px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    border: 2px solid var(--main-white);
    margin-top: 15px;
    margin-left: 55px;
    color: var(--main-white);
}

footer{
    height: 20vh;
    background: black;
}